@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 2rem;
  background-color: #1f4068;
  color: white;
  height: 58px;
}

.navbar .title {
  display: flex;
  justify-content: flex-start;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  letter-spacing: 6px;
}

.navbar #logoImg {
  width: 50px;
  height: 50px;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  border-right: 4px solid #1f4068;
  border-left: 4px solid #1f4068;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 14px;
}

.navbar ul li {
  padding: 0 1rem;
  align-content: center;
}

.navbar ul li #avatarImg {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.navbar ul li #avatar #avatarText {
  display: flex;
  flex-direction: column;
  letter-spacing: normal;
}

.navbar ul li Button {
  border-color: white;
  color: white;
}

.navbar ul li Button:hover {
  background-color: white;
  color: #e43f5a;
  font-weight: bold;
}

.leftpanel {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  /* background-color: #1f4068; */
  padding: 2rem 1rem 0 0;
  width: 16rem;
  height: 45rem;
  float: left;
}

.leftpanel ul {
  list-style: none;
  font-size: 12px;
}

.leftpanel ul li {
  padding: 10px 0;
  font-size: 16px;
}

.leftpanel ul li Link {
  text-decoration: none;
}

.leftpanel ul li Button {
  padding: 1rem 3rem;
  width: 100%;
  font-variant: normal;
  font-family: Raleway;
  text-transform: capitalize;
  box-shadow: 0px 5px 10px 0px rgba(155, 155, 155, 0.5);
  background-color: whitesmoke;
}

.leftpanel ul li Button:hover {
  background-color: #1f4068;
  color: white;
  border-radius: 2rem;
}

.workarea {
  display: flex;
  padding: 3rem 0 3rem 3rem;
  height: auto;
}

.workarea Button {
  border-color: #1f4068;
  border-width: 3px;
}

.workarea Button:hover {
  background-color: #1f4068;
  color: white;
}
